{% load i18n cms_tags staticfiles sekizai_tags %}
{% addtoblock instance.script_block %}
<script src="https://embed.tonicdev.com"></script>
{% endaddtoblock %}
<div id="{{ instance.variable_name }}_element">
</div>
<div id="{{ instance.variable_name }}_source" style="display:none;">
{{ instance.code }}
</div>
{% addtoblock "js" %}
<script>
window.{{ instance.variable_name }} = Tonic.createNotebook({
    element: document.getElementById("{{ instance.variable_name }}_element"),
    source: document.getElementById("{{ instance.variable_name }}_source").textContent,
    onURLChanged: function(notebook) {
        console.log("Tonic Notebook {{ instance.ident }} URL:", notebook.URL);
    }
})
</script>
{% endaddtoblock %}
