{% load i18n cms_tags staticfiles sekizai_tags %}
{% addtoblock instance.script_block %}
<script src="https://embed.tonicdev.com"></script>
{% endaddtoblock %}
<div id="{{ instance.variable_name }}_element"></div>
<script type='text/plain' id="{{ instance.variable_name }}_source" >{{ instance.code|safe }}</script>
{% addtoblock "js" %}
<script src="{% static 'djangocms_tonicdev/js/notebook.js' %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script>
window.djangocms_tonicdev_render(document.getElementById("{{ instance.variable_name }}_source").textContent, {{ instance.opts|safe }}, function(err, notebook) {
    window.{{ instance.variable_name }} = notebook;
});
</script>
{% endaddtoblock %}
